In [3]:
# for / while

# range function -----> 

# print 0-10

# syntax ----> for variable in range(define the range):
#                     print(variable)


for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
# print 2-8
for i in range(2,8):
    print(i)

2
3
4
5
6
7

In [6]:
#wap to print number from -10 to 10.
for i in range(-10,11):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

In [7]:
for i in range(2,20):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [13]:
for i in range(2,21,-1):
    print(i)

In [15]:
#wap to print a number from 10 to -10.

for i in range(10,-11,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [24]:
#wap to find odd & even number from 1-100.
# Wap to count these number also.

count_even = 0
count_odd = 0
for i in range(12,45):
    if i % 2 == 0 :
        print("Even number----->",i)
        count_even = count_even+1
        
    else:
        print("Odd number---->",i)
        count_odd = count_odd+1
print("Toatl even number is :->",count_even)
print("Toatl odd number is :->",count_odd)

Even number-----> 12
Odd number----> 13
Even number-----> 14
Odd number----> 15
Even number-----> 16
Odd number----> 17
Even number-----> 18
Odd number----> 19
Even number-----> 20
Odd number----> 21
Even number-----> 22
Odd number----> 23
Even number-----> 24
Odd number----> 25
Even number-----> 26
Odd number----> 27
Even number-----> 28
Odd number----> 29
Even number-----> 30
Odd number----> 31
Even number-----> 32
Odd number----> 33
Even number-----> 34
Odd number----> 35
Even number-----> 36
Odd number----> 37
Even number-----> 38
Odd number----> 39
Even number-----> 40
Odd number----> 41
Even number-----> 42
Odd number----> 43
Even number-----> 44
Toatl even number is :-> 17
Toatl odd number is :-> 16

In [33]:
#wap to print the table of 2.
#wap to reverse a string.
# Check a string is palindrome or not.

x = 'nitin'
y = ''
for i in x:
#     print(i)
    y = i+y
print(y)

if x == y :
    print("Palindrome")
else:
    print("Reverse/NP")

nitin
Palindrome

In [ ]:
#wap to find the number of digit in 784539.