In [8]:
# prime num
num = 51
if num>1:
    for i in range(2,num):
        if num%i == 0:
            print("not prime")
            break
            
    else:
        print("prime number")

not prime

In [16]:
# fibonacci series.
nterms = int(input("Enter the terms!"))
n1,n2 = 0,1
count = 0

if nterms<=0:
    print("Invalid terms")
elif nterms == 1:
    print(n1)
else:
    while count < nterms:
        print(n1)
        nth = n1+n2
        n1 = n2
        n2 = nth
        count+=1

Enter the terms!8
0
1
1
2
3
5
8
13

In [21]:
class std:
    greet = 'hello'
    
s = std()

In [22]:
s.greet

'hello'

In [23]:
#wap with the help of oops try to print 
# your first & last name.

class name:
    f_name = 'John'
    l_name = 'Cena'
    
    
n = name()
n.f_name

'John'

In [24]:
n.l_name

'Cena'

In [25]:
print(n.f_name,n.l_name)

John Cena

In [29]:
#wap to add two numbers using function inside the oops.
class add:
    def fun(self,x,y):
        z = x+y
        return z
    
a = add()
a.fun(1,23)

24